<h2>
  {@package.name}
</h2>

<details>
  <summary>
    Hex.pm Snapshot
  </summary>
  <pre>
    {inspect(@package.latest_hexpm_snapshot, limit: :infinity, pretty: true)}
  </pre>
</details>

<details>
  <summary>
    GitHub Snapshot
  </summary>
  <pre>
    {inspect(@package.latest_github_snapshot, limit: :infinity, pretty: true)}
  </pre>
</details>
