<h2>
  {@package.name}
</h2>

<details>
  <summary>
    Hex.pm Snapshot
  </summary>
  <pre>
    {inspect(Toolbox.Packages.last_hexpm_snapshot(@package), limit: :infinity, pretty: true)}
  </pre>
</details>

<details>
  <summary>
    GitHub Snapshot
  </summary>
  <pre>
    {inspect(Toolbox.Packages.last_github_snapshot(@package), limit: :infinity, pretty: true)}
  </pre>
</details>
