/* Why `source(none)` below ? https://github.com/phoenixframework/phoenix/pull/6109#discussion_r1993092360 */
@import "tailwindcss" source(none);

@custom-variant dark (&:where(.dark, .dark *));

@source "../css";
@source "../js";
@source "../../lib/toolbox_web";

@plugin "@tailwindcss/forms";
@plugin "../vendor/heroicons.js";

@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

@theme {
  /* Custom fonts fetched in root.html.heex */

  /* The below is the re-definition of tailwindcss `--font-sans` var to include custom fonts prepended to the
   * original talwindcss --font-sans value.
   *
   * Couldn't find a way to actually re-define `--font-sans` more programatically by prepending the value
   * to the original, and not hard-coding the original list.
   */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Bitter", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-code: "M PLUS 1 Code", monospace;

  --color-stroke: #343434;
  --color-surface: #1d1d1d;
  --color-surface-alt: #252525;
  --color-secondary-text: #C0C0C0;
  --color-divider: #2F2F2F;
  --color-violet: #3F2754;
  --color-button-primary: #975EC9;
  --color-button-primary-hover: #AC7ED4;
  --color-button-primary-focus: #8956B7;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

[data-phx-main] {
  height: 100%
}

/* This file is for your main application CSS */
