<main class="container mx-auto text-center p-12">
  <div class="text-6xl font-mono">
    404
  </div>

  <div class="mt-4 text-2xl">
    Sorry, we couldn't find what you were looking for.
  </div>

  <div class="mt-4">
    <.link navigate={~p"/"} class="underline">
      Back to home page
    </.link>
  </div>
</main>
