<main class="flex flex-col h-full justify-between px-4 bg-[url('/images/home-bg.svg')] bg-center bg-no-repeat bg-cover bg-[#D3D3D3]">
  <div class="container mx-auto">
    <.flash_group flash={@flash} />

    {@inner_content}
  </div>

  <footer class="mt-auto pb-15 container mx-auto text-secondary-text text-sm">
    <div>
      Built by <.link href="https://mimiquate.com" target="_blank" class="underline">Mimiquate</.link>.
    </div>
  </footer>
</main>
