<!DOCTYPE html>
<html lang="en" class="dark [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="icon" href={~p"/files/favicon.svg"} type="image/svg+xml" />
    <.live_title suffix=" · Elixir Observer">
      {assigns[:page_title] || "Home"}
    </.live_title>

    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Elixir Observer" />
    <meta property="og:title" content={og_title(assigns)} />
    <meta property="og:description" content={og_description(assigns)} />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <%!-- Custom Fonts --%>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+1+Code:wght@100..700&display=swap"
      rel="stylesheet"
    />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-neutral-900 dark:text-white h-full">
    {@inner_content}
  </body>
</html>
