<div class="text-2xl">Elixir Toolbox</div>

<ul>
  <li>
    <.link navigate={~p"/packages/phoenix"}>phoenix</.link>
  </li>
  <li>
    <.link navigate={~p"/packages/telemetry"}>telemetry</.link>
  </li>
  <li>
    <.link navigate={~p"/packages/plug"}>plug</.link>
  </li>
  <li>
    <.link navigate={~p"/packages/ecto"}>ecto</.link>
  </li>
</ul>
